.hint {
    -fx-hyperlink-fill: -monet-inverse-primary;
}

.two-line-list-item {
    -fixed-warning-tag-background: #3D1D1D;
}

.log-window {
    -fixed-log-background: #1E1E1E;
    -fixed-log-toggle-selected: #E0E0E0;
    -fixed-log-toggle-unselected: #757575;
    -fixed-log-text-fill: #E8E8E8;
    -fixed-log-trace-background: #3A3D40;
    -fixed-log-debug-background: #2D3033;
    -fixed-log-info-background: #1E1E1E;
    -fixed-log-warn-background:  #3D3820;
    -fixed-log-warn-text-fill:  #FDF3AA;
    -fixed-log-error-background: #3D2020;
    -fixed-log-error-text-fill: #F9DEDC;
    -fixed-log-fatal-background: #6B2020;
    -fixed-log-selected: #333333;
}
